node_modules
__*__
.DS*
src/**/package.json
package-lock.json
*.egg-info
ignoreme
asyncjs.log
dist
build
HelloWorld.txt
docs/_build
classes.dot
packages.png
classes.png
packages.dot
makeimg.sh
output.png
output2.png
testcode.py
testevent.js